<!DOCTYPE html>
<html>
  <head>
    <title>MyWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <nav>
      <div id="logo">
        <p>JulienGarcia</p>
      </div>
      <ul id="menu">
        <li><a href="#" class="active">Accueil</a></li>
        <li><a href="#">Qui je suis ?</a></li>
        <li><a href="#">Compétences</a></li>
        <li><a href="#">Portfolio</a></li>
        <li id="contact">Me contacter</li>
      </ul>
    </nav>
    <%= yield %>
  </body>
</html>
